# Format Style Options - Created with Clang Power Tools
---
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit: 132
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentWidth: 4
NamespaceIndentation: All
ObjCBlockIndentWidth: 4
...
