# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.md5
*.bz2

# Build
test/unit-test/src/samples/mbus-005.bin
build
x64
aarch64-v8
out/build/x64-Debug

# IDE
.vs
.vscode
CMakeSettings.json
