#!/usr/bin/make -f

INSTALLDIR := /tmp/oecp-cyng

build: build-stamp
	make -j8 -C @PROJECT_BINARY_DIR@

build-stamp:
	touch build-stamp

clean:
	make -C @PROJECT_BINARY_DIR@ clean
	rm -f build-stamp
	rm -rf $(INSTALLDIR)

install: build
	install -d $(INSTALLDIR)/usr/local/lib
	install -m 644 @PROJECT_BINARY_DIR@/lib*.so $(INSTALLDIR)/usr/local/lib

.PHONY: build clean install
